.conteiner {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #f6f8f9;
    position: relative;
}

.header {

    max-width: inherit;
    width: inherit;
    padding: 21px 20px 19px 20px;
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: #f6f8f9;
    position: fixed;
    align-items: center;


}

/* ლოგოს გასტილვა და დატრიალება */
.logo {
    width: 40px;
    height: 40px;
    animation-name: rotate;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ფონტების გასტილვა  */
p {
    font-family: 'Caveat', cursive;
}

.h2font {
    font-weight: bold;
    font-size: 1.5rem;
}

.h3font {
    font-weight: bold;
    font-size: 1rem;
}


.headnav,

li {
    font-size: 0.68rem;
    color: #343638;

}


.headmenu {
    display: flex;
    gap: 38px;


}

.home :hover::after {
    content: "";
    display: block;
    width: 37px;
    height: 2px;
    background-color: red;


}

.world_news :hover::after {
    content: "";
    display: block;
    width: 76px;
    height: 2px;
    background-color: red;

}

.photos :hover::after {
    content: "";
    display: block;
    width: 45px;
    height: 2px;
    background-color: red;


}

.contact :hover::after {
    content: "";
    display: block;
    width: 52px;
    height: 2px;
    background-color: red;


}

.active {
    color: black;
    font-weight: bold;
}


/* სექცია 1 */

.section1 {
    width: 100%;
    padding-top: 82px;
    display: flex;
    flex-wrap: wrap;

}

/* .divsection1 {
    width: 100%;
   

} */


.left {
    width: 58%;
    margin: 0 auto;


}

.photodiv1 {

    width: 100%;
    height: 599px;
    background-image: url(../image/image1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: start;


}

.newshead::after {
    content: "";
    display: block;
    width: 90%;
    height: 2px;
    background-color: #ffffff;
    margin-top: 40px;
}

/* მარცხენა სექცია 1 */

.lefttext {
    width: 70%;
    padding-top: 176px;
    color: #ffffff;
}


.amazinghead {
    padding-top: 40px;
    padding-bottom: 10px;
}


.morebutton {
    width: 134px;
    height: 40px;
    background-color: #fa6980;
    color: #ffffff;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;

}

/* მარჯვენა სექცია 2 */

.right {
    width: 42%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    background-color: #ffffff;
    
    padding: 100px 120px 100px 100px;


}

.morenews::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ebeded;
    margin-top: 40px;
}


.rightdiv {

    display: flex;
    flex-direction: column;
    gap: 20px;
  

}

.rightdiv1 {
    width: 100%;
   

}

.travel {
    color: #fa6980;
}

.articletitle {
    padding-top: 20px;
    padding-bottom: 10px;
}

.textlorem {
    color: #a6adb4;
    padding-bottom: 10px;
}


/* იკონი შემოვიტანე   */

.time::before {

    content: "\f017";
    font-family: "font awesome 6 free";
    display: inline-block;
    margin-right: 10px;

}





/* მეორე სექცია სურათების შემოვიტანე და გავსტილე */

.section2 {
    width: 80.5%;
    margin: 40px auto;


}

.card {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 40px;

}

.card1 {
    width: 30%;
    height: 350px;
    background-color: #ffffff;
    text-align: start;
    transition-duration: 2s;
    border-radius: 5px;

}

.card1:hover {

    transform: scale(2);

}

.picture1 {
    width: 100%;
    height: 180px;
    background-image: url(../image/poc1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;

}

.picture2 {
    width: 100%;
    height: 180px;
    background-image: url(../image/pic2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}

.picture3 {
    width: 100%;
    height: 180px;
    background-image: url(../image/pic3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;


}

.picname {
    padding-top: 220px;
    padding-left: 40px;
}

.pictext {

    padding-top: 12px;
    padding-left: 40px;
    padding-right: 39px;
    color: #a6adb4;
    font-size: 0.81rem;
}

/* სექცია 3 */



.picturediv {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    justify-content: space-between;
}

/* მარცხენა მხარე */


.leftdiv {
    width: 66%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.imgcard {
    width: 100%;
    height: 430px;
    color: #ffffff;

}

.foto1 {
    background-image: url(../image/foto1.png );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;

}

.foto2 {
    background-image: url(../image/foto2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}


.imgcardtext {
    padding-top: 40px;
    padding-left: 40px;
}

.imgcardtext1 {
    padding-top: 232px;
    padding-left: 40px;
}

.imgcardtext3 {
    padding-top: 10px;
    padding-left: 40px;
    padding-right: 40px;
}


/* .... მარჯვენა 3 სურათის და ტეხსტი ... */

.rightdivcards {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 38px;
}

.rightcardimg {
    width: 100%;
    height: 274px;
    border-radius: 8px;

}

.img11 {
    width: 100%;
    height: 210px;
    border-radius: 8px;
    background-image: url(../image/eleph.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.img22 {
    width: 100%;
    height: 210px;
    border-radius: 8px;
    background-image: url(../image/bird.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.img33 {
    width: 100%;
    height: 210px;
    border-radius: 8px;
    background-image: url(../image/way.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.rightcardtext {
    text-align: start;
    padding-top: 258px;
}


/* ფუტერი */


footer {
    width: 100%;
    height: 200px;
    margin-top: 101px;
    background-color: #a6adb4;

}


.footdiv {
    width: 80.5%;
    margin: 0 auto;
    padding-top: 58px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.logofoot {
    width: 50px;
    height: 50px;
}

.footdiv1 {
    display: flex;
    text-align: start;
    gap: 40px;
    font-size: 0.81rem;


}

.footerli {
    padding-top: 11px;
}

.footmail {
    width: 262px;
    font-size: 0.68rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footmail1 {
    width: 100%;
    height: 40px;
    background-color: transparent;
    border-radius: 8px;


}


.footicon {
    display: flex;
    gap: 32px;

}



/* world_news ახალი გვერდი */

.sectionworld {
    width: 80%;
    margin: 0 auto;
    padding-top: 103px;
    display: flex;
    border-bottom: 2px solid #ebeded;
    padding-bottom: 36px;
}

/* მარცხენა მხარე */

.leftphotos {
    width: 50%;
    height: 500px;
    background-image: url(../image/worldphoto.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;


}

.newstext {
    font-size: 1.87rem;
    color: white;

}


/* მარჯვენა მხარე ძიების ველი */

.rightcontact {
    width: 50%;
    background-color: white;
}

.formediv {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.datediv {
    padding-top: 124px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.searchdiv {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.donebutton {
    margin-top: 40px;
    width: 134px;
    height: 40px;
    background-color: #fa6980;
    color: #ffffff;
    border-radius: 10px;

}

/* მეორე გვერდის მეორე სექცია */

.section2page {
    width: 80.5%;
    display: flex;
    margin: 0 auto;
    padding-bottom: 42px;
    border-bottom: 2px solid #ebeded;




}

.divpage {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 42px;
    flex-wrap: wrap;


}

.divimglogo1 {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.divimglogo {
    width: 40px;
    height: 40px;
    background-image: url(../image/faceimg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}



.ptexts {
    width: 30%;

}


/* მეორე გვერდის მესამე სექცია */

.section3page {
    width: 80.5%;
    display: flex;
    margin: 39px auto;


}

.pototextdiv {
    width: 100%;
    padding-bottom: 88px;
    border-bottom: 2px solid #ebeded;
}

.page2foto {
    width: 100%;
    height: 500px;
    background-image: url(../image/page2eleph.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.divtext2 {
    width: 100%;
    padding-top: 80px;
    flex-direction: column;

}

.divtextline2 {
    padding-top: 30px;
}


/* მეორე გვერდის ფუტერი */

.footerpage2 {
    margin-top: 160px;
}