@media screen and (max-width: 980px) {


    .none {
        display: none;
    }

    .section1 {
        flex-direction: column;
    }

    .left {
        width: 100%;

    }
    .right {
        width: 100%;
        
    }
    .rightdiv0{
        display: flex;
    }

}